// app global css in SCSS form

html[class="dark"] {
	.bg-page-auto {
		background-color: #121212;
	}
	.bg-header-auto {
		background: var(--q-dark);
	}
}

.q-markdown--link,
.q-markdown--link-external {
	&:link {
		color: var(--q-primary);
	}
	&:visited {
		color: var(--q-info);
	}
	&:hover {
		color: var(--q-secondary);
	}
	&:active {
		color: var(--q-accent);
	}
}

.bg-header-auto {
	background: var(--q-light);
}

// @media screen and (min-width: 914px) {
// 	.content-card {
// 		width: 960px;
// 		margin-left: auto;
// 		margin-right: auto;
// 	}
// }
